@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}


header {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 0;
  z-index: 111;
}


header.sticky {
  background-color: var(--light-blue);
  padding: 1rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
}

.logo {
  font-size: 5rem;
  color: white;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav-list li {
  margin: 0 1.5rem;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}


.box {
  border: 3px solid rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

h2 {
  color: #005490;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  text-align: center;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post>* {
  margin: 3px;
}

section.header {
  width: 100%;
  height: 90vh;
  background: url("https://images.unsplash.com/photo-1639849324111-96487086694c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1022&q=80")center no-repeat;
  background-size: cover;
}

section {
  padding: 5rem 0;
}

.active {
  position: relative;
}

.active>* {
  color: var(--color-primary);
}

.active::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 100%;
  background-color: #900000;

}